In [1]:
import pandas as pd
import numpy as np

In [2]:
total_data=pd.read_csv('total_data_curated.csv')

In [3]:
total_data.shape

(1099, 50095)

In [4]:
# Basic plans for this cloud session 
# 1. better prerocessing 
# 2. some feature engineering

In [5]:
total_data.shape

(1099, 50095)

In [80]:
values=pd.read_csv('Values.csv')

In [77]:
np.log(100)

4.6051701859880918

In [84]:
np.log10(10)

1.0

In [89]:
values=pd.read_csv('Values.csv')

In [90]:
values

      CMPD_CHEMBLID     Value
0      CHEMBL429928     4.900
1     CHEMBL3093452   540.000
2      CHEMBL219207   340.000
3      CHEMBL451680     0.250
4     CHEMBL1209232    10.000
5      CHEMBL552285    80.000
6     CHEMBL3397789   118.900
7       CHEMBL65868   673.000
8      CHEMBL429987   345.000
9      CHEMBL529665    30.100
10    CHEMBL1929040  1800.000
11     CHEMBL196929   180.000
12    CHEMBL3337829  2400.000
13     CHEMBL455411     0.071
14     CHEMBL521610    10.000
15     CHEMBL228663   440.000
16     CHEMBL352002  2931.000
17     CHEMBL445946     0.200
18    CHEMBL3261407   770.000
19     CHEMBL461357    72.000
20     CHEMBL286130  1755.000
21     CHEMBL270714     5.500
22    CHEMBL1254907  1300.000
23    CHEMBL3658375    43.300
24    CHEMBL2177238  8800.000
25     CHEMBL396093    37.100
26     CHEMBL500897   176.000
27     CHEMBL567854   132.000
28    CHEMBL3263762  1490.000
29     CHEMBL552108    40.000
...             ...       ...
1069  CHEMBL3094467  2500.000
1070  CHEMBL3126942   880.000
1071   CHEMBL590593    50.000
1072   CHEMBL249426     1.000
1073   CHEMBL324156   185.000
1074   CHEMBL483454   197.400
1075   CHEMBL439234     0.630
1076  CHEMBL3263755  6810.000
1077  CHEMBL1911653  1600.000
1078  CHEMBL1835824  2590.000
1079   CHEMBL231798    19.500
1080   CHEMBL555562    50.000
1081   CHEMBL411063     3.250
1082  CHEMBL1209231     6.000
1083  CHEMBL3576885  2900.000
1084  CHEMBL3578286  2900.000
1085   CHEMBL520534   207.700
1086   CHEMBL294116   100.000
1087   CHEMBL403486    43.000
1088  CHEMBL1835821   880.000
1089  CHEMBL3126945  1700.000
1090   CHEMBL231803  1000.000
1091  CHEMBL1672635   750.000
1092  CHEMBL3093448  5900.000
1093   CHEMBL250751   141.000
1094  CHEMBL3126938  1400.000
1095   CHEMBL233660   170.000
1096  CHEMBL1086314  6309.570
1097   CHEMBL455176     0.690
1098   CHEMBL190109   150.000

[1099 rows x 2 columns]

In [91]:
values=pd.read_csv('Values.csv')

# PLS Modeling 

values=np.log10(values['Value'])

In [108]:
values1=pd.read_csv('Values.csv')

In [112]:
values1[values1>1000]

      CMPD_CHEMBLID    Value
0      CHEMBL429928      NaN
1     CHEMBL3093452      NaN
2      CHEMBL219207      NaN
3      CHEMBL451680      NaN
4     CHEMBL1209232      NaN
5      CHEMBL552285      NaN
6     CHEMBL3397789      NaN
7       CHEMBL65868      NaN
8      CHEMBL429987      NaN
9      CHEMBL529665      NaN
10    CHEMBL1929040  1800.00
11     CHEMBL196929      NaN
12    CHEMBL3337829  2400.00
13     CHEMBL455411      NaN
14     CHEMBL521610      NaN
15     CHEMBL228663      NaN
16     CHEMBL352002  2931.00
17     CHEMBL445946      NaN
18    CHEMBL3261407      NaN
19     CHEMBL461357      NaN
20     CHEMBL286130  1755.00
21     CHEMBL270714      NaN
22    CHEMBL1254907  1300.00
23    CHEMBL3658375      NaN
24    CHEMBL2177238  8800.00
25     CHEMBL396093      NaN
26     CHEMBL500897      NaN
27     CHEMBL567854      NaN
28    CHEMBL3263762  1490.00
29     CHEMBL552108      NaN
...             ...      ...
1069  CHEMBL3094467  2500.00
1070  CHEMBL3126942      NaN
1071   CHEMBL590593      NaN
1072   CHEMBL249426      NaN
1073   CHEMBL324156      NaN
1074   CHEMBL483454      NaN
1075   CHEMBL439234      NaN
1076  CHEMBL3263755  6810.00
1077  CHEMBL1911653  1600.00
1078  CHEMBL1835824  2590.00
1079   CHEMBL231798      NaN
1080   CHEMBL555562      NaN
1081   CHEMBL411063      NaN
1082  CHEMBL1209231      NaN
1083  CHEMBL3576885  2900.00
1084  CHEMBL3578286  2900.00
1085   CHEMBL520534      NaN
1086   CHEMBL294116      NaN
1087   CHEMBL403486      NaN
1088  CHEMBL1835821      NaN
1089  CHEMBL3126945  1700.00
1090   CHEMBL231803      NaN
1091  CHEMBL1672635      NaN
1092  CHEMBL3093448  5900.00
1093   CHEMBL250751      NaN
1094  CHEMBL3126938  1400.00
1095   CHEMBL233660      NaN
1096  CHEMBL1086314  6309.57
1097   CHEMBL455176      NaN
1098   CHEMBL190109      NaN

[1099 rows x 2 columns]

In [92]:
x_train=total_data.iloc[:880]
y_train=values.iloc[:880]

x_test=total_data.iloc[880:1099]
Value_50_test=values.iloc[880:1099]



#y_train_class=y_train.apply(lambda x : 1 if x>=5 else 0)

In [93]:
Value_50_test_class=pd.DataFrame(Value_50_test)

In [94]:
Value_50_test_class

         Value
880   3.380211
881   4.352183
882   2.037426
883   2.643453
884   2.367356
885   2.690196
886   1.505150
887   3.043362
888   2.204120
889   3.181844
890  -0.008774
891  -0.568636
892   1.176091
893   2.322219
894   1.397940
895   3.380211
896   2.541579
897   0.000000
898   0.556303
899   2.595496
900   2.982271
901   3.845098
902   1.414973
903   1.531479
904   2.176091
905   0.826075
906   1.690196
907   3.623249
908   2.477121
909   1.037426
...        ...
1069  3.397940
1070  2.944483
1071  1.698970
1072  0.000000
1073  2.267172
1074  2.295347
1075 -0.200659
1076  3.833147
1077  3.204120
1078  3.413300
1079  1.290035
1080  1.698970
1081  0.511883
1082  0.778151
1083  3.462398
1084  3.462398
1085  2.317436
1086  2.000000
1087  1.633468
1088  2.944483
1089  3.230449
1090  3.000000
1091  2.875061
1092  3.770852
1093  2.149219
1094  3.146128
1095  2.230449
1096  3.800000
1097 -0.161151
1098  2.176091

[219 rows x 1 columns]

In [95]:
Value_50_test_class=Value_50_test_class['Value']

# Random Forest on PLS componensts

In [13]:
#from sklearn.model_selection import cross_val_score
from sklearn.cross_decomposition import PLSCanonical, PLSRegression, CCA

pls2=PLSRegression(n_components=2)
pls3=PLSRegression(n_components=3)
pls4=PLSRegression(n_components=4)

pls5=PLSRegression(n_components=5)

pls6=PLSRegression(n_components=6)

pls7=PLSRegression(n_components=7)

In [17]:
pls7=PLSRegression(n_components=7)
pls7.fit(x_train,y_train)

PLSRegression(copy=True, max_iter=500, n_components=7, scale=True, tol=1e-06)

In [21]:
pls7.transform(x_train)

array([[ -8.94786569,  71.53499209, -23.8330561 , ...,  25.17247318,
          8.42614494,  -1.01311028],
       [-61.56888769, -22.08414311,  22.39999097, ..., -19.71679543,
         21.13273096, -30.48071393],
       [  5.78194913, -84.74035742,  11.98261968, ...,  41.25064261,
        -15.87522534,  10.7015231 ],
       ...,
       [-18.70337849,  71.25249457, -25.19034755, ...,  23.60844723,
          3.94587569,   3.853099  ],
       [-33.7637907 ,  65.93108182,   0.30064124, ...,  -0.28222138,
         16.793773  ,  -9.47937524],
       [-74.06173165, -23.43711795,  -4.22333913, ..., -28.1974099 ,
         12.19041525,  27.28652174]])

In [33]:
x_train_transformed_matrix=pd.DataFrame(pls7.transform(x_train))

In [34]:
x_test_transformed_matrix=pd.DataFrame(pls7.transform(x_test))

In [98]:
y_train_class=y_train.apply(lambda x: 1 if x <1 else 0)

In [107]:
y_train[y_train>3]

10     3.255273
12     3.380211
16     3.467016
20     3.244277
22     3.113943
24     3.944483
28     3.173186
30     3.430720
31     3.100002
35     3.248464
43     3.447158
45     3.176091
47     3.690196
50     3.204120
52     3.318063
60     3.246252
63     3.429999
71     3.806180
72     3.322219
75     3.434569
78     3.204120
79     3.081707
99     3.262688
100    3.700000
103    3.278754
118    3.180000
120    3.045323
133    3.113943
134    3.368101
138    3.523746
         ...
752    3.146128
759    3.505150
760    3.908485
762    3.505150
765    3.255273
766    4.000000
767    3.008600
772    3.079181
774    3.012837
785    3.309630
790    3.806180
793    3.096910
797    3.913814
807    3.511883
814    3.278754
824    3.387923
828    3.285557
829    4.000000
833    3.199999
839    3.146128
850    4.000000
853    3.301030
854    3.690196
855    3.400001
858    3.079181
865    3.748188
866    3.113943
867    3.367356
870    3.556303
872    3.556303
Name: Value, dtype: float64

In [58]:
Value_50_test_class=Value_50_test_class.apply(lambda x: 1 if x>6 else 0)

In [62]:
type(result)

numpy.ndarray

In [63]:
result

array([0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0])

In [66]:
Value_50_test_class[Value_50_test_class==1]

Series([], Name: Value, dtype: int64)

In [59]:
from sklearn.ensemble import RandomForestClassifier
clf_pls = RandomForestClassifier()
clf_pls.fit(x_train_transformed_matrix,y_train_class)
result=clf_pls.predict(x_test_transformed_matrix)
from sklearn.metrics import average_precision_score

In [60]:
average_precision_rf_pls = average_precision_score(Value_50_test_class,result)

In [61]:
average_precision_rf_pls

nan

# Random Forest on PCA components

In [50]:
from sklearn import decomposition
from sklearn import datasets
pca = decomposition.PCA(n_components=5)
pca.fit(x_train)
x_train_transformed_matrix=pd.DataFrame(pca.transform(x_train))
x_test_transformed_matrix=pd.DataFrame(pca.transform(x_test))


# Let's fit a linear model (pca regression)

In [51]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(x_train_transformed_matrix,y_train_class)
result=clf.predict(x_test_transformed_matrix)
from sklearn.metrics import average_precision_score
average_precision_rf = average_precision_score(Value_50_test_class,result)

In [52]:
average_precision_rf

0.79968691486355503

# Cross Validation strategy

# Loading plot analysis of PLS

In [53]:
average_precision_rf

0.79968691486355503